@import "tailwindcss";

.font-dmsans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

.font-literata {
  font-family: "Literata", sans-serif;
  font-optical-sizing: auto;
}

@keyframes modalIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-receipt, #printable-receipt *,
  #printable-invoice, #printable-invoice * {
    visibility: visible !important;
  }
  #printable-receipt,
  #printable-invoice {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block !important;
    background: white;
  }
}